.checkboxset
{
	@include font_p1;

	position: relative;

	min-width: 190px;
	margin-left: calc( #{$unit} * 2.5 );

	cursor: pointer;

	@media screen and (max-width: 420px)
	{
		width: 100%;
	}

	&.active
	{
		div.dropdown
		{
			display: flex;
		}

		div.wrap
		{
			&::after
			{
				transform: none;
			}
		}
	}

	div.wrap
	{
		div.value
		{
			padding: calc( #{$unit} * 3 ) calc( #{$unit} * 8 ) calc( #{$unit} * 2.5 ) calc( #{$unit} * 3 );

			background: $clr_white;

			border: 1px solid $clr_icons_gray;

			&::after
			{
				content: attr(data-title);
			}
		}

		&::after
		{
			position: absolute;
			top: 10px;
			right: 8px;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 24px;
			height: 24px;

			content: '';

			background: url(../images/icons/arrow.svg) center no-repeat;

			transform: rotate( 180deg );

			transition: transform $t $tf;
		}
	}

	div.dropdown
	{
		position: absolute;
		z-index: 2;
		
		display: none;
		flex-direction: column;

		margin-top: 6px;

		background: $clr_white;

		box-shadow: 0px 20px 25px -5px rgba(26, 32, 44, 0.1), 0px 10px 10px -5px rgba(26, 32, 44, 0.04);

		.inner
		{
			padding: calc( #{$unit} * 5 );

			label
			{
				width: 100%;
			}

			span.val
			{
				&:hover
				{
					color: $clr_red;
				}
			}
		}
	}

}