@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: $regular;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.woff') format('woff');
    font-weight: $bold;
    font-style: normal;
    font-display: swap;
}

@mixin font_p1( $clr: $clr_black ) {
    font-size: 14px;
    line-height: calc( 21 / 14);

    color: $clr;
}

@mixin font_button( $clr: $clr_black ) {
    font-size: 13px;
    line-height: calc( 20 / 13);

    color: $clr;
}

@mixin font_price( $clr: $clr_black ) {
    font-size: 15px;
    line-height: calc( 20 / 15);

    color: $clr;

    font-weight: $bold;
}

@mixin font_label( $clr: $clr_black ) {
    font-size: 12px;
    line-height: calc( 16 / 12);

    color: $clr;
}