@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: $regular;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.woff') format('woff');
    font-weight: $bold;
    font-style: normal;
    font-display: swap;
}

@mixin font_p1 {
    font-size: 14px;
    line-height: calc( 21 / 14);
}

@mixin font_price {
    font-size: 15px;
    line-height: calc( 20 / 15);

    font-weight: $bold;
}