// colors

$clr_black: #000;
$clr_white: #fff;

$clr_black_text: #232735;

$clr_bg_light_gray: #f7f6f4;
$clr_gray: #e5e5e5;
$clr_icons_gray: #c4c4c4;
$clr_dark_gray: #cccccc;
$clr_darkest_gray: #808080;
$clr_light_gray: #ededed;
$clr_label_gray: #686868;

$clr_red: #ff0d29;
$clr_light_red: #ffe4e4;
$clr_dark_red: #dd4c5d;

$clr_light_blue: #d6f5ff;
$clr_blue: #0291c1;

$clr_checkbox_yellow: #fce66f;

// fonts

$pt_sans: 'PT Sans', Arial, Helvetica, sans-serif;

// dimensions

$unit: 4px;
$regular: 400;
$bold: 700;

// transition
$t: 0.2s;
$tf: ease-in-out;
